<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="mmbdd_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="mmbdd_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="mmbdd.diagram.part.MmbddDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/MmbddDiagramFile.gif"
         extensions="mmbdd_diagram"
         default="true"
         class="mmbdd.diagram.part.MmbddDiagramEditor"
         matchingStrategy="mmbdd.diagram.part.MmbddMatchingStrategy"
         contributorClass="mmbdd.diagram.part.MmbddDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="mmbdd.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/MmbddDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="mmbdd.diagram.part.MmbddCreationWizard"
  	     id="mmbdd.diagram.part.MmbddCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="mmbdd.diagram.InitDiagram"
            nameFilter="*.mmbdd"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="mmbdd.diagram.part.MmbddInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="mmbdd.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="MmbddPresentation">
         <Priority name="Lowest"/>
         <ViewId id="mmbdd.diagram.part.MmbddDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="MmbddPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="mmbdd.diagram.part.MmbddDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="MmbddPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="mmbdd.diagram.part.MmbddDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="MmbddRender">
         <Priority name="Lowest"/>
         <ViewId id="mmbdd.diagram.part.MmbddDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="mmbdd.diagram.providers.MmbddMarkerNavigationProvider">
         <MarkerType name="mmbdd.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Mmbdd Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="mmbdd.diagram.providers.MmbddValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="mmbdd.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="mmbdd.diagram.general"
            name="%prefpage.mmbdd.diagram.general"
            class="mmbdd.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="mmbdd.diagram.appearance"
            name="%prefpage.mmbdd.diagram.appearance"
            category="mmbdd.diagram.general"
            class="mmbdd.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="mmbdd.diagram.connections"
            name="%prefpage.mmbdd.diagram.connections"
            category="mmbdd.diagram.general"
            class="mmbdd.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="mmbdd.diagram.printing"
            name="%prefpage.mmbdd.diagram.printing"
            category="mmbdd.diagram.general"
            class="mmbdd.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="mmbdd.diagram.rulersAndGrid"
            name="%prefpage.mmbdd.diagram.rulersAndGrid"
            category="mmbdd.diagram.general"
            class="mmbdd.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="mmbdd.diagram"
            labelProvider="mmbdd.diagram.sheet.MmbddSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="mmbdd.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="mmbdd.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="mmbdd.diagram.sheet.MmbddPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="mmbdd.diagram.navigator.MmbddAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="mmbdd.diagram.providers.MmbddViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="mmbdd"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Mmbdd"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2004,2002,2003"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="mmbdd.diagram.providers.MmbddEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Mmbdd"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2004,2002,2003"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5004,5005,5003"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="mmbdd.diagram.providers.MmbddModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="mmbdd.diagram.edit.parts.MindMapModelEditPart" id="MindMapModel_1000"/>
         <object class="mmbdd.diagram.edit.parts.CenterEditPart" id="Center_2004"/>
         <object class="mmbdd.diagram.edit.parts.RelationshipEditPart" id="Relationship_2002"/>
         <object class="mmbdd.diagram.edit.parts.LeafEditPart" id="Leaf_2003"/>
         <context elements="MindMapModel_1000,Center_2004,Relationship_2002,Leaf_2003,"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="mmbdd.diagram.providers.MmbddIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="mmbdd.diagram.providers.MmbddParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="mmbdd.diagram.providers.MmbddShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2004,2002,2003"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://mmbdd.com">
         <metamodelType
               id="mmbdd.diagram.MindMapModel_1000"
               name="%metatype.name.MindMapModel_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MindMapModel"
               edithelper="mmbdd.diagram.edit.helpers.MindMapModelEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://mmbdd.com">
         <metamodelType
               id="mmbdd.diagram.Center_2004"
               name="%metatype.name.Center_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Center"
               edithelper="mmbdd.diagram.edit.helpers.CenterEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://mmbdd.com">
         <metamodelType
               id="mmbdd.diagram.Relationship_2002"
               name="%metatype.name.Relationship_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Relationship"
               edithelper="mmbdd.diagram.edit.helpers.RelationshipEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://mmbdd.com">
         <metamodelType
               id="mmbdd.diagram.Leaf_2003"
               name="%metatype.name.Leaf_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Leaf"
               edithelper="mmbdd.diagram.edit.helpers.LeafEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://mmbdd.com">
         <metamodelType
               id="mmbdd.diagram.Edge_4001"
               name="%metatype.name.Edge_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Edge"
               edithelper="mmbdd.diagram.edit.helpers.EdgeEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="mmbdd.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="mmbdd.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="mmbdd.diagram.TypeContext">
         <elementType ref="mmbdd.diagram.MindMapModel_1000"/>
         <elementType ref="mmbdd.diagram.Center_2004"/>
         <elementType ref="mmbdd.diagram.Relationship_2002"/>
         <elementType ref="mmbdd.diagram.Leaf_2003"/>
         <elementType ref="mmbdd.diagram.Edge_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="mmbdd.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="mmbdd.diagram"
           properties="isURIEditorInput"
           class="mmbdd.diagram.part.MmbddUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="mmbdd.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="mmbdd.diagram"
           properties="isShortcut"
           class="mmbdd.diagram.part.MmbddShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="mmbdd.diagram.resourceContent"/>
			<contentExtension pattern="mmbdd.diagram.domainResourceContent"/>
            <contentExtension pattern="mmbdd.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="mmbdd.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="mmbdd.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="mmbdd.diagram.navigator.MmbddNavigatorContentProvider" 
            labelProvider="mmbdd.diagram.navigator.MmbddNavigatorLabelProvider"
            icon="icons/obj16/MmbddDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="mmbdd_diagram"/>
               </and>
               <instanceof value="mmbdd.diagram.navigator.MmbddAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="mmbdd.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="mmbdd.diagram.navigator.MmbddAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="mmbdd.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="mmbdd.diagram.navigatorSorter" 
               class="mmbdd.diagram.navigator.MmbddNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="mmbdd_diagram"/>
                  </and>
                  <instanceof value="mmbdd.diagram.navigator.MmbddAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="mmbdd.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="mmbdd.diagram.navigator.MmbddDomainNavigatorContentProvider" 
            labelProvider="mmbdd.diagram.navigator.MmbddDomainNavigatorLabelProvider"
            icon="icons/obj16/MmbddDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="mmbdd"/>
               </and>
               <instanceof value="mmbdd.diagram.navigator.MmbddDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="mmbdd.diagram.navigator.MmbddDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="mmbdd.diagram.navigatorActionProvider"
            class="mmbdd.diagram.navigator.MmbddNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="mmbdd.diagram.navigator.MmbddAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="mmbdd.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="mmbdd.diagram.navigatorLinkHelper"
            class="mmbdd.diagram.navigator.MmbddNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="mmbdd.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="mmbdd.diagram.navigator.MmbddAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="mmbdd.diagram.part.MmbddDiagramUpdateCommand"
         description="%update.diagram.description"
         id="mmbdd.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="mmbdd.diagram.updateDiagram"
         contextId="mmbdd.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="mmbdd.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="mmbdd.diagram.part.MmbddDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="mmbdd.diagram.edit.parts.MindMapModelEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="mmbdd.diagram.part.MmbddDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="mmbdd.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="mmbdd.diagram.part.MmbddDiagramEditorID"
         defaultHandler="mmbdd.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->   
</plugin>
